html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul {padding-left:0;list-style: none;}

/* +++++++ Customs ++++++ */
:root {
  --link-bleu : #0070f3;
  --pnr-vert : #8fdc00;
  --pnr-mauve : #ab80b3;
  --pnr-emeraude : #73dcba;
  --size : 17vw;
}
.hidden {display:none !important;}

.chevron {
  padding-left:0;
  padding-right:12px;
  font-size:larger;
}
.menu-icon {position:relative;}
.menu-icon span:last-child {position:absolute;left:0;top:-.205em;}
a:hover .chevron {
  padding-left:6px;
  padding-right:6px;
}

/* Thumb */
.activeThumb {
  animation: flipping;
  animation-duration: 550ms;
}
@keyframes flipping {
  from {width: var(--size);}
  50% {width:0;}
  to {width: var(--size);}
}
@media screen and (orientation:portrait) {
  .redux {--size: 27vw;}
  .wide {--size: 13dvh;}
}
@media screen and (orientation: landscape) {
  :root {--size : 18dvh;}
  .redux {--size: 13vw;}
  .wide {--size: 27dvh;}
}


/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}*/

@media screen and (orientation:landscape) {
  
}
