
.container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin:auto;
  background-color:rgba(255,255,255,.78);
  padding:.8vh;
}
.list {
  position: relative;
  display : grid;
  grid-template-columns: repeat(3, var(--size));
  grid-template-rows: repeat(6, var(--size));
  gap: .8vh;
}
.item {
  --albulm-bg : url(/img/logo-parknrock-carre.svg);
  --pnr-bg : url(/img/logo-parknrock-eclair.svg);
  border: 1px solid transparent;
  padding: 1px;
  width: calc(var(--size) + 4px);
  height: calc(var(--size) + 4px);
}

.item:hover {border-color: black;}
.item:first-child:hover {border-color: transparent;}

.pnrItem {
  position:relative;
  width :var(--size);
  height:var(--size);
}

.list
.nav {margin:auto;}

.nav ul {
  display: flex;
  justify-content:space-between;
  margin:0;
}
.nav li {
  font-size:larger;
  text-transform: uppercase;
  cursor: pointer;
}
.nav li:last-child { margin-left:1.5em;}

@media screen and (orientation:portrait) {
  .list {margin-top:0;}
}
@media screen and (orientation: landscape) {
  .container {
    flex-direction:column-reverse;
    padding:.8vw;
  }
  .nav ul {justify-content:flex-end;}
  .list {
    grid-template-columns: repeat(6, var(--size));
    grid-template-rows: repeat(3, var(--size));
    gap: .8vw;
    margin-bottom:0;
  }
}
