.container {
  margin:auto;
  flex-direction:column;
  padding:.75em;
}
.container, .nav ul, .list ul {display:flex;}
.container section:first-of-type p:first-child a {text-decoration: underline;}

.list ul {flex-wrap:wrap;}
.list li {width:40vw;margin:auto;text-align:center;}
.grolsch {width:100%;}

.nav {font-size:larger;text-transform:uppercase;}
.nav li {cursor:pointer;font-weight:200;}

.list img,
.credits p:last-child img {
  padding:1px;
  border: 1px solid transparent;
}
.list img:hover,
.credits p:last-child img:hover {border-color:var(--link-bleu);}

@media screen and (orientation:portrait) {
  .container {max-width:96vw;}
  .nav ul {justify-content: space-between;}
}

@media screen and (orientation:portrait) and (max-width:450px) {
  .container {
    margin: auto;
    font-size:14px;
  }
  .credits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .credits dl {
    display:flex;
    flex-direction:column;
  }
  .credits p:first-child {flex-shrink:0;}
  .credits p:last-child {flex-shrink:0.8;}
  .credits dl {flex-shrink:1.4;}
  .credits dt {margin-top:.4em;}
  .credits dd {text-align:right;}
}

@media screen and (orientation:landscape) {
  .container {
    flex-direction:column-reverse;
    max-width:70vw;
  } 
  .container section:first-of-type {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
  } 
  .container section:first-of-type p:first-child {width:100%;}
  .container dl {width:60%;margin-left:1.5em;}
  .container section:first-of-type p:first-child {margin-right:1.5em;}

  .list li {width:30%;}

  .nav ul {justify-content: end;}
  .nav li {margin-left:1em;}
}